*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  position: relative;
  display: inline-block;
  color: #00a6ff;
  overflow: hidden;
  background: linear-gradient(to right, #00a6ff, #fff 50%, #00a6ff 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none;
  margin: 0 2px;
}
a:hover {
  background-position: 0 100%;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-image: url("../img/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Ubuntu", sans-serif;
  user-select: none;
}

h1 {
  background: -webkit-linear-gradient(#00a6ff, #ffc2c2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 60px;
}

ul,
ol {
  padding-inline-start: 0;
  list-style-type: none;
}

tbody {
  vertical-align: middle;
}

.header {
  margin-bottom: 50px;
  display: flex;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.3), transparent);
}
.header-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.header img {
  max-height: 50px;
}

.table {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  border: 3px solid skyblue;
  --bs-table-bg: none;
  --bs-table-color: none;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.5), rgba(99, 100, 100, 0.1294117647));
}
.table-header {
  vertical-align: middle !important;
  text-transform: uppercase;
}
.table-col-right {
  font-size: 0;
}
.table-row {
  text-align: start;
}
.table-row__countries {
  transform: translate(5px, -1px);
}
.table-row:nth-child(-n+10) {
  background: -webkit-linear-gradient(red, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: background 3s infinite;
  text-transform: uppercase;
}
@keyframes background {
  50% {
    background: -webkit-linear-gradient(yellow, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.table-items {
  vertical-align: middle !important;
}
.table-items img {
  max-height: 30px;
  cursor: help;
  margin: 0 2px;
}
.table-header {
  background: -webkit-linear-gradient(#00a6ff, #ffc2c2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
}
.table-geoloc__img {
  max-height: 30px;
  transform: translate(7px, -1px);
}

.clap {
  height: 25px !important;
}

.footer {
  background: #092350;
  text-align: center;
  letter-spacing: 1px;
  margin-top: 155px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.scroll-block::-webkit-scrollbar {
  background-color: skyblue;
  width: 5px;
}

.scroll-block::-webkit-scrollbar-thumb {
  background: #092350;
}

.scroll-block:hover::-webkit-scrollbar-thumb {
  background: #092350;
}

.container {
  --bs-gutter-x: 0;
}

.footer {
  margin-top: 100px;
  margin-right: -3px;
  letter-spacing: 0;
}

@media screen and (max-width: 768px) {
  .header-partners {
    display: none;
  }
  .header-tabs {
    display: none;
  }
  .header-social {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */