*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  outline: none;
  transition: 0.5 all;
}
a:hover {
  background: -webkit-linear-gradient(#ffd1d1, #00a6ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
a:focus {
  background: -webkit-linear-gradient(#ffd1d1, #00a6ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  outline: none;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-image: url("../img/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Ubuntu", sans-serif;
  user-select: none;
}

h1 {
  background: -webkit-linear-gradient(#00a6ff, #ffc2c2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 60px;
}

ul,
ol {
  padding-inline-start: 0;
  list-style-type: none;
}

tbody {
  vertical-align: middle;
}

.header {
  margin-bottom: 50px;
  display: flex;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.3), transparent);
}
.header-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.header img {
  max-height: 50px;
  margin: 10px;
}

.table {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  border: 3px solid skyblue;
  --bs-table-bg: none;
  --bs-table-color: none;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.5), rgba(99, 100, 100, 0.1294117647));
}
.table-header {
  vertical-align: middle !important;
}
.table-col-right {
  font-size: 0;
}
.table-row {
  text-align: start;
}
.table-row__countries {
  transform: translate(5px, -1px);
}
.table-row:nth-child(-n+10) {
  background: -webkit-linear-gradient(red, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
}
.table-items {
  vertical-align: middle !important;
}
.table-items img {
  max-height: 30px;
  cursor: help;
  margin: 0 2px;
}
.table-header {
  background: -webkit-linear-gradient(#00a6ff, #ffc2c2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
}
.table-geoloc__img {
  max-height: 30px;
}

.top1 {
  background: -webkit-linear-gradient(#ae8419, #ffce6b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top2 {
  background: -webkit-linear-gradient(#bababa, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top3 {
  background: -webkit-linear-gradient(#9c5221, #fcb48c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.best-regular {
  background: -webkit-linear-gradient(rgb(137, 7, 224), rgb(221, 182, 248));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.clap {
  height: 25px !important;
}

.footer {
  background: #092350;
  text-align: center;
  letter-spacing: 1px;
  margin-top: 155px;
}
.footer a {
  text-decoration: none;
  color: #fff;
}

.copyright {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.scroll-block::-webkit-scrollbar {
  background-color: skyblue;
  width: 5px;
}

.scroll-block::-webkit-scrollbar-thumb {
  background: #092350;
}

.scroll-block:hover::-webkit-scrollbar-thumb {
  background: #092350;
}

@media screen and (max-width: 768px) {
  .header-partners {
    display: none;
  }
  .header-tabs {
    display: none;
  }
  .header-social {
    display: none;
  }
  .container {
    --bs-gutter-x: 0;
  }
  .footer {
    margin-top: 100px;
    margin-right: -3px;
    letter-spacing: 0;
  }
}/*# sourceMappingURL=style.css.map */