@mixin text_transparent {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a {
	position: relative;
	display: inline-block;
	color: #00a6ff;
	overflow: hidden;
	background: linear-gradient(to right, #00a6ff, #fff 50%, #00a6ff 50%);
	background-clip: text;
	@include text_transparent;
	background-size: 200% 100%;
	background-position: 100%;
	transition: background-position 275ms ease;
	text-decoration: none;
	margin: 0 2px;

	&:hover {
		background-position: 0 100%;
	}
}

html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	background-image: url("../img/background2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Ubuntu", sans-serif;
	user-select: none;
}

h1 {
	background: -webkit-linear-gradient(#00a6ff, #ffc2c2);
	@include text_transparent;
	text-align: center;
	font-size: 60px;
}

ul,
ol {
	padding-inline-start: 0;
	list-style-type: none;
}

tbody {
	vertical-align: middle;
}

.header {
	margin-bottom: 50px;
	display: flex;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.3), transparent);
	&-items {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	& img {
		max-height: 50px;
	}

	@media screen and (max-width: 768px) {
		.header {
			&-partners {
				display: none;
			}
			&-tabs {
				display: none;
			}
			&-social {
				display: none;
			}
		}
	}
}

.table {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
	border: 3px solid skyblue;
	--bs-table-bg: none;
	--bs-table-color: none;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.5), rgba(99, 100, 100, 0.1294117647));

	&-header {
		vertical-align: middle !important;
		text-transform: uppercase;
	}

	&-col-right {
		font-size: 0;
	}

	&-row {
		text-align: start;

		&__countries {
			transform: translate(5px, -1px);
		}
	}

	&-row:nth-child(-n + 10) {
		background: -webkit-linear-gradient(red, yellow);
		@include text_transparent;
		animation: background 3s infinite;
		text-transform: uppercase;

		@keyframes background {
			50% {
				background: -webkit-linear-gradient(yellow, red);
				@include text_transparent;
			}
		}
	}

	@keyframes animate {
		0%,
		100% {
			background-position: left top;
		}
		25% {
			background-position: right bottom;
		}
		50% {
			background-position: left bottom;
		}
		75% {
			background-position: right top;
		}
	}

	&-items {
		vertical-align: middle !important;
		& img {
			max-height: 30px;
			cursor: help;
			margin: 0 2px;
		}
	}

	&-header {
		background: -webkit-linear-gradient(#00a6ff, #ffc2c2);
		@include text_transparent;
		font-size: 18px;
	}

	&-geoloc__img {
		max-height: 30px;
		transform: translate(7px, -1px);
	}
}

.clap {
	height: 25px !important;
}

.footer {
	background: #092350;
	text-align: center;
	letter-spacing: 1px;
	margin-top: 155px;
}

.copyright {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}

.scroll-block::-webkit-scrollbar {
	background-color: skyblue;
	width: 5px;
}
.scroll-block::-webkit-scrollbar-thumb {
	background: #092350;
}
.scroll-block:hover::-webkit-scrollbar-thumb {
	background: #092350;
}

.container {
	--bs-gutter-x: 0;
}

.footer {
	margin-top: 100px;
	margin-right: -3px;
	letter-spacing: 0;
}
