@mixin text_transparent {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@mixin gray_text {
	background: -webkit-linear-gradient(#092350, #cfe1eb);
	@include text_transparent;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	outline: none;
	transition: color 0.3s ease-in-out;

	&:hover {
		color: #00a6ff;
		cursor: pointer;
	}
}

html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	background-image: url("../img/background2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Ubuntu", sans-serif;
	user-select: none;
}

h1 {
	background: -webkit-linear-gradient(#00a6ff, #ffc2c2);
	@include text_transparent;
	text-align: center;
	font-size: 60px;
}

ul,
ol {
	padding-inline-start: 0;
	list-style-type: none;
}

tbody {
	vertical-align: middle;
}

.header {
	margin-bottom: 50px;
	display: flex;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.3), transparent);
	&-items {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	& img {
		max-height: 50px;
		margin: 10px;
	}
}

.table {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
	border: 3px solid skyblue;
	--bs-table-bg: none;
	--bs-table-color: none;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.5), rgba(99, 100, 100, 0.1294117647));

	&-header {
		vertical-align: middle !important;
	}

	&-col-right {
		font-size: 0;
	}

	&-row {
		text-align: start;

		&__countries {
			transform: translate(5px, -1px);
		}
	}

	&-row:nth-child(-n + 10) {
		background: -webkit-linear-gradient(red, yellow);
		@include text_transparent;
		font-size: 18px;
	}

	&-items {
		vertical-align: middle !important;
		& img {
			max-height: 30px;
			cursor: help;
			margin: 0 2px;
		}
	}

	&-header {
		background: -webkit-linear-gradient(#00a6ff, #ffc2c2);
		@include text_transparent;
		font-size: 18px;
	}

	&-geoloc__img {
		max-height: 30px;
		transform: translate(7px, -1px);
	}
}

.top1 {
	background: -webkit-linear-gradient(#ae8419, #ffce6b);
	@include text_transparent;
}

.top2 {
	background: -webkit-linear-gradient(#bababa, #fff);
	@include text_transparent;
}

.top3 {
	background: -webkit-linear-gradient(#9c5221, #fcb48c);
	@include text_transparent;
}

.best-regular {
	background: -webkit-linear-gradient(rgb(137 7 224), rgb(221 182 248));
	@include text_transparent;
}

.clap {
	height: 25px !important;
}

.footer {
	background: #092350;
	text-align: center;
	letter-spacing: 1px;
	margin-top: 155px;

	& a {
		text-decoration: none;
		color: #fff;
	}
}

.copyright {
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}

.scroll-block::-webkit-scrollbar {
	background-color: skyblue;
	width: 5px;
}
.scroll-block::-webkit-scrollbar-thumb {
	background: #092350;
}
.scroll-block:hover::-webkit-scrollbar-thumb {
	background: #092350;
}

@media screen and (max-width: 768px) {
	.header {
		&-partners {
			display: none;
		}
		&-tabs {
			display: none;
		}
		&-social {
			display: none;
		}
	}

	.container {
		--bs-gutter-x: 0;
	}

	.footer {
		margin-top: 100px;
		margin-right: -3px;
		letter-spacing: 0;
	}
}
